/*fonts*/
@font-face{
font-family:'source_sans_proregular';
src:url('../fonts/sans-pro/sourcesanspro-regular-webfont.eot');
src:url('../fonts/sans-pro/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/sans-pro/sourcesanspro-regular-webfont.woff') format('woff'),
url('../fonts/sans-pro/sourcesanspro-regular-webfont.ttf') format('truetype'),
url('../fonts/sans-pro/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
font-weight:normal;
font-style:normal;
}
@font-face{
font-family:'source_sans_probold';
src:url('../fonts/sans-pro/sourcesanspro-bold-webfont.eot');
src:url('../fonts/sans-pro/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/sans-pro/sourcesanspro-bold-webfont.woff') format('woff'),
url('../fonts/sans-pro/sourcesanspro-bold-webfont.ttf') format('truetype'),
url('../fonts/sans-pro/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
font-weight:normal;
font-style:normal;
}
@font-face{
font-family:'source_sans_prolight';
src:url('../fonts/sans-pro/sourcesanspro-light-webfont.eot');
src:url('../fonts/sans-pro/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/sans-pro/sourcesanspro-light-webfont.woff') format('woff'),
url('../fonts/sans-pro/sourcesanspro-light-webfont.ttf') format('truetype'),
url('../fonts/sans-pro/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
font-weight:normal;
font-style:normal;
}
@font-face{
font-family:'source_sans_prosemibold';
src:url('../fonts/sans-pro/sourcesanspro-semibold-webfont.eot');
src:url('../fonts/sans-pro/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/sans-pro/sourcesanspro-semibold-webfont.woff') format('woff'),
url('../fonts/sans-pro/sourcesanspro-semibold-webfont.ttf') format('truetype'),
url('../fonts/sans-pro/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
font-weight:normal;
font-style:normal;
}
@font-face{
font-family:'source_sans_proextralight';
src:url('../fonts/sans-pro/sourcesanspro-extralight-webfont.eot');
src:url('../fonts/sans-pro/sourcesanspro-extralight-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/sans-pro/sourcesanspro-extralight-webfont.woff') format('woff'),
url('../fonts/sans-pro/sourcesanspro-extralight-webfont.ttf') format('truetype'),
url('../fonts/sans-pro/sourcesanspro-extralight-webfont.svg#source_sans_proextralight') format('svg');
font-weight:normal;
font-style:normal;
}
/*general*/
/*
colorText darkGris: #454545;
grayBg lightGray: #ebebeb;
whiteColor: #fff;
lightRed: #e41b13 ;
darkred: #ac0700  ;

fontFamilyRegular:source_sans_proregular;
fontFamilyBold:source_sans_probold;
fontsizeReadingTextSmall:13px;
fontsizeReadingTextRegular:15px;
borderRadius: 5px;
inputHeight:42px

*/
/*****COLORS*****/
@bgColor: #fff;

@darkBaseColor: #454545;
@lightBaseColor: #ebebeb;

@lightBrandColor: #e41b13;
@darkBrandColor: #ac0700;
@baseOnBrandColor: #fff;

/*****FONTS *****/

/*****FORMS*****/
@baseInputsBgColor: #fff;
@baseInputsHeight: 42px;
@baseInputsLineHeight: 42px;
@baseInputsPadding:0 15px;
@baseInputsMarginBottom:28px;

@baseLabelFontSize:13px;
@baseLabelLineHeight:17px;
@baseLabelMarginBottom:6px;

/*****ROUNDED CORNER*****/
@roundedCorners:5px;


*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{}
body{color:@darkBaseColor;font-family:source_sans_proregular,Helvetica,Arial,sans-serif;font-size:15px;line-height:19px;background:@bgColor;}
img{border:0;margin:0;padding:0;max-width:100%}
img.left{margin:0 10px 10px 0;float:left}
img.right{margin:0 0 10px 10px;float:right}
img:-moz-broken,input:-moz-broken,applet:-moz-empty-except-children-with-localname(param):-moz-broken{border:1px solid #eee;content:" ! "!important}
a{outline:none;color:@lightBrandColor}
a:hover,a:active,a:focus{outline:none;color:@lightBaseColor}
p{margin-bottom:15px}
ul li{font-size:15px;line-height:15px}
ul,ol,ul ul{margin-bottom:15px}
form{margin:0;padding:0}
/*forms*/

input[type="text"], input[type="tel"], input[type="password"], select { background: @baseInputsBgColor none repeat scroll 0 0;border: medium none;border-radius: @roundedCorners;font-family: "source_sans_prosemibold";  height: @baseInputsHeight;  line-height: @baseInputsLineHeight;  padding: @baseInputsPadding;  width: 100%;  margin-bottom:@baseInputsMarginBottom; }
label{cursor:pointer;display:block;font-size:@baseLabelFontSize;line-height:@baseLabelLineHeight;margin-bottom:@baseLabelMarginBottom; font-size:13px; font-weight:normal}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {margin-top:1px;}
/*selects*/
.jqTransformSelectWrapper{position:relative;background-color:@baseInputsBgColor;border:none;margin-bottom:@baseInputsMarginBottom;width:100%!important;height:@baseInputsHeight;line-height:@baseInputsLineHeight;padding:@baseInputsPadding;border-radius:@roundedCorners}
.jqTransformSelectWrapper div span{overflow:hidden;cursor:pointer;float:none;position:absolute;white-space:nowrap;overflow:hidden;cursor:pointer;width:inherit!important}
.jqTransformSelectWrapper a.jqTransformSelectOpen{display:block;position:absolute;right:2px;top:0;width:36px;height:@baseInputsHeight;border-left:3px solid @lightBaseColor;text-align:center}
.jqTransformSelectWrapper a.jqTransformSelectOpen::before{width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid @lightBrandColor;content:" ";position:relative;top:34%}
.jqTransformSelectWrapper ul{position:absolute;width:189px;top:39px;left:0;list-style:none;background-color:@baseInputsBgColor;border:solid 1px @lightBaseColor;display:none;margin:0;padding:0;height:150px;overflow:auto;overflow-y:auto;z-index:10;width:inherit!important;border-bottom-left-radius:@roundedCorners;border-bottom-right-radius:@roundedCorners}
.jqTransformSelectWrapper ul a{display:block;padding:10px 5px 10px 15px;text-decoration:none;background-color:@baseInputsBgColor;color:@darkBaseColor}
.jqTransformSelectWrapper ul a.selected{background:#ededed ;color:@lightBrandColor}
.jqTransformSelectWrapper ul a.selected:hover{background:@lightBaseColor;color:@lightBrandColor}
.jqTransformSelectWrapper ul a:hover{background:@lightBaseColor}
.jqTransformHidden{display:none}
/*selects*/
/*data picker*/
/*demo page css*/
input.hasDatepicker.open { border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; }
.ui-datepicker {  z-index: 15 !important;width: 17em; padding: .2em .2em 0; display: none;border: 1px solid #c3c3c3;border-radius: 0 4px 4px 4px; -moz-border-radius: 0 4px 4px 4px;background: #ffffff;background: linear-gradient(#ffffff, #ebebeb);background: -moz-linear-gradient(#ffffff, #ebebeb);background: -webkit-gradient(#ffffff, #ebebeb);background: -o-linear-gradient(#ffffff, #ebebeb);
box-shadow: 0 2px 3px #ededed; -moz-box-shadow: 0 2px 3px #ededed; -webkit-box-shadow: 0 2px 3px #ededed; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { display: none; }
.ui-datepicker .ui-datepicker-title { margin: 0; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 10px; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 33%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; color: #292929; text-align:center}
.ui-datepicker td span, .ui-datepicker td a:hover { color: @lightBrandColor; }
.ui-datepicker td span, .ui-datepicker td a.ui-state-disabled { color: #959595; }
	/*data picker*/
/*forms*/
hr{background-color:@lightBaseColor;border:0 none;clear:both;color:#ccc;display:inline-block;height:1px;line-height:1px;margin:10px 0;padding:0;width:100%}
.image_left,.left{float:left;margin:5px 15px 10px 0}
.image_right,.right{float:right;margin:5px 0 10px 15px}
.image_banner,.full_width{width:100%;margin-bottom:15px}
.margin0{margin-bottom:0}
/* h1,h2,h3,h4,h5,h6{font-family:'cabinregular',Arial,sans-serif;color:#414141}
h1{font-size:24px;line-height:28px;color:#414141;text-transform:uppercase;margin-bottom:28px;margin-top:0}
h2{border-bottom:5px solid #decc86;color:#414141;font-family:cabinbold;font-size:18px;line-height:21px;margin-bottom:20px;margin-top:40px;padding-bottom:12px;clear:both}
h1 + h2{margin-top:0}
h3{font-size:17px;line-height:21px;color:#d3a907;text-transform:uppercase;font-family:'cabinsemibold'}
h4{font-size:19px;line-height:21px;font-family:'cabinsemibold';font-weight:700}
h5{font-size:18px;line-height:20px;font-family:'cabinsemibold';font-weight:700}
h6{font-size:16px;line-height:20px;font-family:'cabinsemibold';font-weight:700}
h3:first-child{margin-top:0}
.banner-innerpage{margin-bottom:30px}
h1 + ul.mytabs{padding-top:0} */

.non-wrap{white-space:nowrap}
#main_wrap{padding-bottom:50px}
/*general*/
/*btns*/
.btn_login_box{height:60px;line-height:60px;padding:0 15px; border:1px solid @lightBrandColor; color:@baseOnBrandColor; text-decoration:none; display:inline-block; border-radius:@roundedCorners;margin-bottom:15px}
.btn_login_box:hover{text-decoration:none}
.btn_login_box.btnLogin{background:@lightBrandColor;font-family:'source_sans_probold';text-transform:uppercase;color:@baseOnBrandColor;margin-left:10px  }
/*btns svg*/



a.btn-icon-on-dark-header{color:@baseOnBrandColor;display:inline-block;font-size:15px;height:55px;text-decoration:none;border-bottom:5px solid @lightBrandColor}
a.btn-icon-on-dark-header:hover {border-bottom:5px solid @baseOnBrandColor}
a.btn-icon-on-dark-header .icon-svg{display:inline-block;margin-right:5px;vertical-align:middle;width:20px; height:20px;}
a.btn-icon-on-dark-header .icon-svg path {fill:@baseOnBrandColor;}


.icon-label{border-bottom:medium none navy;color:#454545;display:inline-block;font-size:15px;margin:0 0 15px;padding:0;text-decoration:none;text-transform:uppercase}
.icon-label:hover {}
.icon-label .icon-svg{display:inline-block;margin-right:5px;vertical-align:middle;width:20px; height:20px;}
.icon-label .icon-svg path {fill:@lightBrandColor}
.icon-label span {position:relative; top:2px}

.title-icon-on-white{border-bottom:medium none navy;color:@lightBrandColor;display:inline-block;font-size:30px; line-height:34px;margin:0 0 15px;padding:0;text-decoration:none;text-transform:uppercase}
.title-icon-on-white:hover {}
.title-icon-on-white .icon-svg{display:inline-block;margin-right:5px;vertical-align:middle;width:31px; height:22px;}
.title-icon-on-white .icon-svg path {fill:@lightBrandColor}


a.btn-icon-on-dark{background:@lightBrandColor;border-radius:@roundedCorners;color:#fff;display:inline-block;font-size:15px;height:41px;line-height:41px;margin-bottom:15px;padding:0 20px;text-decoration:none;margin-left:10px;border:1px solid @lightBrandColor  }
a.btn-icon-on-dark .icon-svg{display:inline-block;margin-right:5px;vertical-align:middle;width:20px; height:20px}
a.btn-icon-on-dark .icon-svg path {fill:@baseOnBrandColor;}


a.btn-icon-on-dark.on-white{background:@baseOnBrandColor;color:@lightBrandColor;border:1px solid @lightBrandColor }
a.btn-icon-on-dark.on-white .icon-svg path {fill:@lightBrandColor;} 
/*btns svg*/
h1.title-icon-on-white,h1.title-icon-on-white .icon-editionRouge {position:relative;top:-2px}
h1.title-icon-on-white{margin-top:5px; padding-right:5px}
/*btns*/
/*table simulation*/
.table_wp {display:table; width:100%}
.table_cell {display: table-cell;vertical-align: middle;}
.table_cell.toolboxLogo{text-align:right; }
.table_cell.brandLogo{text-align:left; border-left:1px solid @baseOnBrandColor }
.login_wp{max-width:455px;margin:10% auto 0;}
.login {background:@lightBrandColor;padding: 28px 35px 17px 35px;border-top-left-radius:@roundedCorners;border-top-right-radius:@roundedCorners;}
.loginBtnsBox {border-bottom-left-radius:@roundedCorners;border-bottom-right-radius:@roundedCorners;background:@darkBrandColor; padding:36px 30px 26px; text-align:center}
.loginBox input{margin-bottom:32px}
.loginBox  .jqTransformSelectWrapper{margin-bottom:10px}
.remember_me {clear:both}
body {background:@bgColor}
.customBg {background:url("/assets/images/toolbox/bgBrand.jpg") no-repeat fixed top center;background-size:cover}
.customBg::before{background:#fff none repeat scroll 0 0;content:"";height:100%;position:absolute;width:100%;z-index:-1;opacity:.8}
.grayBox {background:@lightBaseColor; padding:25px 22px  0px 22px; margin-bottom:30px}
.header {background:@lightBrandColor; margin-bottom:35px}
.header .table_wp {float: left;width: auto;margin-top:18px}
ul.menu-header{float:right;margin-bottom:0;margin-top:35px}
ul.menu-header li {display:inline-block;list-style:none; margin-left:50px}
.breadcrumb {background:none;padding:0px; margin-bottom:27px}
.breadcrumb a{color:@lightBrandColor;font-size:15px;text-decoration:none}
.breadcrumb span {color:@darkBaseColor}
.breadcrumb a:hover{color:@darkBaseColor}
.breadcrumb > li + li:before{color:#48742a;content:"/";padding:0 8px;display:inline-block}
.title-top-btns {float:right; margin-left:-10px}
.title-top {padding-bottom:7px; border-bottom:1px solid @lightBaseColor; margin-bottom:27px;overflow:hidden}

.etapes-au::before{content:"au";height:19px;left:-8px;position:absolute;top:10px;width:19px}
.btn-bottom-hr {text-align:center; position:relative;margin-top:20px}
.btn-bottom-hr hr{background-color:@lightBaseColor;position:absolute;left:0px;top:10px}
.btn-bottom-hr .btn-icon-on-dark {position:relative;}
/*footer*/
footer {background:@darkBaseColor; margin-top:30px}
ul.footer-menu  {float:left; margin-left:0px; padding-top:30px; padding-bottom:15px; padding-left:0px}
ul.footer-menu li {list-style:none; display:inline-block}
ul.footer-menu li a {color:#fff;diplay:inline-block; margin-right:25px; font-size:13px;margin-bottom:15px}
ul.footer-menu li a:hover {text-decoration:none; color:@lightBaseColor}
footer .tgi-logo {float:right; margin-top:20px; padding-bottom:15px}
/*footer*/
/*legendes*/
.legendes {overflow:hidden;clear:both;}
.legende-colors {margin-left:-23px; margin-bottom: 20px;}
.legende-colors>div {display:inline-block; font-size:15px; margin-left:23px}
.legende-colors>div>span {position:relative; top:3px;border-radius:5px;width:32px; height:17px; display:inline-block;margin-right:12px}
.legende-blue>span {background:#3498db;}
.legende-green>span {background:#1abc9c;}
.legende-violet>span {background:#9b59b6;}
.legende-orange>span {background:#e67e22;}
.legende-red>span {background:#e74c3c;}
.legende-yellow>span {background:#f1c40f;}
.lendende-text { margin-bottom: 5px;}
/*legendes*/
/*collapses*/
.collapsious>div {display:none}
		.collapsious {
		
			display: block;
			padding: 20px 20px 20px 0px;
			border-bottom: 1px solid @lightBaseColor;
		 }
		
		.collapsious > span {
			color:@lightBrandColor;
			font-family:'source_sans_probold';
			text-transform:uppercase;
			cursor: pointer;
			display: block;
		 }
		.collapsious > span::before {
    content: "+";
    display: inline-block;
    font-family: arial;
    font-size: 23px;
    margin-right: 8px;
    position: relative;
    top: 2px;
    width: 15px;
}
		.collapsious.opened> span::before { content:"-";font-size:30px
		 }
		.collapsious-wrapper .collapsious:first-child {
		}
		
		.collapsious-wrapper + .collapsious-wrapper{
			margin-top:0px;
		}
		
		.collapsious.opened {
		 }
		
		
		
		.collapsious > div {
		margin-top: 15px; }
/*collapses*/







/* Large desktop */
@media (min-width: 1200px) {  }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
.etapes-au::before{content:"au";height:19px;left:15px;position:absolute;text-align:left;top:-24px;width:100%}

}

/* Landscape phones and down */
@media (max-width: 480px) {
	/*main menu*/
	ul.menu-header{float:none;width:100%;margin-left:0;padding:0;margin-top:15px}
ul.menu-header li{width:100%;margin-left:0}
ul.menu-header li a{width:100%;height:auto;text-align:center;padding-bottom:10px;margin-bottom:10px;border-bottom:none; font-size:13px}
a.btn-icon-on-dark-header:hover{border-bottom:none}
.header .table_wp{float:none;margin:10px auto 0}
.header {margin-bottom:15px}
.breadcrumb {margin-bottom:15px}
.breadcrumb a,.breadcrumb  span {font-size:13px;}
.breadcrumb > li + li::before{ padding: 0 3px;}
.title-icon-on-white {font-size:27px; line-height:28px; margin-bottom:7px}
/*main menu*/
/*footer menu*/
ul.footer-menu {text-align:center; margin-bottom:0px; padding-bottom:0px}
.tgi-logo {width:100%; text-align:center; margin-top:0px}
/*footer menu*/
/*btns*/
.title-top-btns {width:100%; float:none}
a.btn-icon-on-dark {width:100%; text-align:center}
.btn-bottom-hr .btn-icon-on-dark { margin-left:0px;}
/*legendes*/
.legende-colors>div {width:48%; margin-left:0px; font-size:13px;}
.legende-colors {margin-left:0px}
.legende-colors>div>span {margin-right:5px; width:20px}
}














