.vis-item.vis-background.negative {
  background-color: rgba(255, 0, 0, 0.2);
}
.vis-item.vis-background.positive {
  background-color: rgba(255, 255, 0, 0.2);
}

.vis-item {
	border-radius:8px!important;
	border:none!important;
}

.vis-item .vis-item-overflow {
  overflow: visible;
  text-align:center;
}

.vis-timeline .vis-labelset .vis-label .vis-inner {
    min-width: 192px!important;
    max-width: 192px!important;
    word-break:break-word!important;
}

div.pink {
	background-color: #C776B4;
	border-color: #008000;
	cursor:pointer;
}

div.green {
	background-color: #90EE90;
	border-color: #008000;
	cursor:pointer;
}

div.red {
	background-color: #e41b13;
	border-color: #A52A2A;
	cursor:pointer;
}

div.blue {
	background-color: #1E90FF;
	border-color: #0000FF;
	cursor:pointer;
	text-align:center
}

div.orange {
	background-color: #FFA500;
	border-color: #FF4600;
	cursor:pointer;
}

div.magenta {
	background-color: #A900FF;
	border-color: #800080;
	cursor:pointer;
}

div.ouverture {
	background-color: #1abc9c;
	border-color: #1abc9c;
	cursor:pointer;
}

div.media {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	cursor:pointer;
}

div.event {
	background-color: #1A1A1A;
	border-color: #008000;
	cursor:pointer;
}


h4.alert_info {
display: block;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #B5E5EF url(../images/icn_alert_info.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #77BACE;
color: #082B33;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;
}

h4.alert_warning {
display: block;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F5F3BA url(../images/icn_alert_warning.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #C7A20D;
color: #796616;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;
}

h4.alert_error {
display: block;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F3D9D9 url(../images/icn_alert_error.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #D20009;
color: #7B040F;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

h4.alert_success {
display: block;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #E2F6C5 url(../images/icn_alert_success.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #79C20D;
color: #32510F;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;
}

.error-input
{
	color: #FF0000 !important;
}

campaing_edit {
	background: url(../images/icn_edit_campaign.png) no-repeat center right;
}
