.vis-item.vis-background.negative {
  background-color: rgba(255, 0, 0, 0.2);
}
.vis-item.vis-background.positive {
  background-color: rgba(255, 255, 0, 0.2);
}

.vis-item {
	border-radius:8px!important;
	/*border:none!important;*/
}

.vis-item .vis-item-overflow {
  overflow: visible;
  text-align:center;
}

.vis-timeline .vis-labelset .vis-label .vis-inner {
    min-width: 100px!important;
    max-width: 100px!important;
    word-break:break-word!important;
}

.pagebreak { page-break-after: always; } 
